In [95]:
# Seleccionar un conjunto de datos de algún repositorio público o de alguna fuente propia.
import requests
url="https://raw.githubusercontent.com/crozasc/t2/main/CausesOfDeath_France_2001-2008.csv"
target_csv_path="CausesOfDeath_France_2001-2008.csv"

response= requests.get(url)

response.raise_for_status()
with open(target_csv_path,"wb") as f:
    f.write(response.content)
print("CSV descargado correctamente")

CSV descargado correctamente

In [153]:
# Cargar los datos desde la fuente en su respectivo formato a un dataframe.
import pandas as pd

# Utilizar los métodos pandas.read_xxx() y pandas.to_xxx() para leer y guardar los datos.
df = pd.read_csv("CausesOfDeath_France_2001-2008.csv")
df.head()

,2001,France,Number,Males,Total,All causes of death (A00-Y89) excluding S00-T98,277 858,?
0,2001,France,Number,Males,Total,Certain infectious and parasitic diseases (A00...,5 347,?
1,2001,France,Number,Males,Total,Tuberculosis,545,NaN
2,2001,France,Number,Males,Total,Meningococcal infection,30,NaN
3,2001,France,Number,Males,Total,Viral hepatitis,471,NaN
4,2001,France,Number,Males,Total,Human immunodeficiency virus [HIV] disease,892,NaN

In [154]:
# Revisar si los datos de entrada tienen o no un encabezado. De no ser así, corregir esta situación.
aux = df.columns.tolist()
header = ["TIME","GEO","UNIT","SEX","AGE","ICD10","Value","Flag and Footnotes"]
if aux!=header:
    df.loc[-1] = aux
    df.index = df.index + 1  
    df = df.sort_index()  
    df.columns = header
df.head()

,TIME,GEO,UNIT,SEX,AGE,ICD10,Value,Flag and Footnotes
0,2001,France,Number,Males,Total,All causes of death (A00-Y89) excluding S00-T98,277 858,?
1,2001,France,Number,Males,Total,Certain infectious and parasitic diseases (A00...,5 347,?
2,2001,France,Number,Males,Total,Tuberculosis,545,NaN
3,2001,France,Number,Males,Total,Meningococcal infection,30,NaN
4,2001,France,Number,Males,Total,Viral hepatitis,471,NaN

In [155]:
# Realizar un análisis básico de los datos de entrada con con los métodos .describe() y .info().
df.describe()

,TIME,GEO,UNIT,SEX,AGE,ICD10,Value,Flag and Footnotes
count,1056,1056,1056,1056,1056,1056,1056,2
unique,9,1,1,2,1,66,945,1
top,2002,France,Number,Males,Total,All causes of death (A00-Y89) excluding S00-T98,:,?
freq,132,1056,1056,528,1056,16,40,2

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1056 entries, 0 to 1055
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TIME                1056 non-null   object
 1   GEO                 1056 non-null   object
 2   UNIT                1056 non-null   object
 3   SEX                 1056 non-null   object
 4   AGE                 1056 non-null   object
 5   ICD10               1056 non-null   object
 6   Value               1056 non-null   object
 7   Flag and Footnotes  2 non-null      object
dtypes: object(8)
memory usage: 74.2+ KB

In [157]:
# Identificar y manipular valores faltantes.
import numpy as np
#a) Identificar valores faltantes.
df.replace(":", np.nan, inplace = True)
df.replace("?", np.nan, inplace = True)
df.head(50)

,TIME,GEO,UNIT,SEX,AGE,ICD10,Value,Flag and Footnotes
0,2001,France,Number,Males,Total,All causes of death (A00-Y89) excluding S00-T98,277 858,NaN
1,2001,France,Number,Males,Total,Certain infectious and parasitic diseases (A00...,5 347,NaN
2,2001,France,Number,Males,Total,Tuberculosis,545,NaN
3,2001,France,Number,Males,Total,Meningococcal infection,30,NaN
4,2001,France,Number,Males,Total,Viral hepatitis,471,NaN
5,2001,France,Number,Males,Total,Human immunodeficiency virus [HIV] disease,892,NaN
6,2001,France,Number,Males,Total,Neoplasms,91 737,NaN
7,2001,France,Number,Males,Total,Malignant neoplasms (C00-C97),88 481,NaN
8,2001,France,Number,Males,Total,"Malignant neoplasm of lip, oral cavity, pharynx",3 755,NaN
9,2001,France,Number,Males,Total,Malignant neoplasm of oesophagus,3 442,NaN
10,2001,France,Number,Males,Total,Malignant neoplasm of stomach,3 213,NaN
11,2001,France,Number,Males,Total,Malignant neoplasm of colon,6 274,NaN
12,2001,France,Number,Males,Total,"Malignant neoplasm of rectosigmoid junction, r...",2 242,NaN
13,2001,France,Number,Males,Total,Malignant neoplasm of liver and intrahepatic b...,5 258,NaN
14,2001,France,Number,Males,Total,Malignant neoplasm of pancreas,3 788,NaN
15,2001,France,Number,Males,Total,"Malignant neoplasm of larynx, trachea, bronch...",22 457,NaN
16,2001,France,Number,Males,Total,Malignant melanoma of skin,761,NaN
17,2001,France,Number,Males,Total,Malignant neoplasm of breast,177,NaN
18,2001,France,Number,Males,Total,Malignant neoplasm of cervix uteri,NaN,NaN
19,2001,France,Number,Males,Total,Malignant neoplasm of other parts of uterus,NaN,NaN
20,2001,France,Number,Males,Total,Malignant neoplasm of ovary,NaN,NaN
21,2001,France,Number,Males,Total,Malignant neoplasm of prostate,9 327,NaN
22,2001,France,Number,Males,Total,"Malignant neoplasm of kidney, except renal pelvis",1 937,NaN
23,2001,France,Number,Males,Total,Malignant neoplasm of bladder,3 231,NaN
24,2001,France,Number,Males,Total,"Malignant neoplasms, stated or presumed to be ...",6 863,NaN
25,2001,France,Number,Males,Total,Diseases of the blood and blood-forming organs...,1 000,NaN
26,2001,France,Number,Males,Total,"Endocrine, nutritional and metabolic diseases ...",8 356,NaN
27,2001,France,Number,Males,Total,Diabetes mellitus,5 318,NaN
28,2001,France,Number,Males,Total,Mental and behavioural disorders (F00-F99),7 468,NaN
29,2001,France,Number,Males,Total,Mental and behavioural disorders due to use of...,2 523,NaN
30,2001,France,Number,Males,Total,"Drug dependence, toxicomania (F11-F16, F18-F19)",127,NaN
31,2001,France,Number,Males,Total,Diseases of the nervous system and the sense o...,9 497,NaN
32,2001,France,Number,Males,Total,Meningitis,80,NaN
33,2001,France,Number,Males,Total,Diseases of the circulatory system (I00-I99),75 350,NaN
34,2001,France,Number,Males,Total,Ischaemic heart diseases,24 913,NaN
35,2001,France,Number,Males,Total,"Other heart diseases (I30-I33, I39-I52)",19 513,NaN
36,2001,France,Number,Males,Total,Cerebrovascular diseases,16 223,NaN
37,2001,France,Number,Males,Total,Diseases of the respiratory system (J00-J99),17 292,NaN
38,2001,France,Number,Males,Total,Influenza,76,NaN
39,2001,France,Number,Males,Total,Pneumonia,4 947,NaN
40,2001,France,Number,Males,Total,Chronic lower respiratory diseases,5 566,NaN
41,2001,France,Number,Males,Total,Asthma and status asthmaticus,647,NaN
42,2001,France,Number,Males,Total,Diseases of the digestive system (K00-K93),13 226,NaN
43,2001,France,Number,Males,Total,"Ulcer of stomach, duodenum and jejunum",486,NaN
44,2001,France,Number,Males,Total,Chronic liver disease,6 174,NaN
45,2001,France,Number,Males,Total,Diseases of the skin and subcutaneous tissue (...,628,NaN
46,2001,France,Number,Males,Total,Diseases of the musculoskeletal system and con...,1 387,NaN
47,2001,France,Number,Males,Total,"Rheumatoid arthritis and arthrosis (M05-M06,M1...",164,NaN
48,2001,France,Number,Males,Total,Diseases of the genitourinary system (N00-N99),3 698,NaN
49,2001,France,Number,Males,Total,Diseases of kidney and ureter,2 809,NaN

In [158]:
del df["Flag and Footnotes"]

In [161]:
prom_value = df['Value'].astype('float').mean(axis=0)

ValueError: could not convert string to float: '277 858'

In [160]:
df[["Value"]] = df[["Value"]].astype("float")

ValueError: could not convert string to float: '277 858'

In [ ]:
# Estandarizar datos de entrada.

In [ ]:
# Normalizar datos de entrada.

In [ ]:
# Agrupar datos de entrada.

In [ ]:
#  Generar variables indicadoras.

In [ ]:
# Guardar el conjunto de datos procesado.